@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
:root {
  --primary-colour: rgb(111, 178, 240);
}

body {
  background: whitesmoke;
  margin: 0;
  margin-top: 1em;
  font-family: 'Ubuntu';
  padding-top: 4em;
  padding-bottom: 4em;
}

.hero:before {
  content: " ";
  display: block;
  visibility: hidden;
  margin-top: -3em;
  height: 3em;
}

.navbar {
  position: fixed;
  z-index: 998;
  background-color: white;
  width: 100%;
  left: 0;
  top: 0;
}

.navbar nav {
  text-decoration: none;
  display: none;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  padding: 1em 0 1em 1em;
}

.navbar .logo span {
  color: var(--primary-colour);
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .container .mobile-menu {
  padding-right: 1em;
  cursor: pointer;
}

.hero .container {
  background-color: var(--primary-colour);
  background: repeating-linear-gradient(45deg, var(--primary-colour), var(--primary-colour), #1481da 10px, #1e8ccc 10px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 3em;
  padding-top: 3em;
  padding-bottom: .25em;
}

.hero .container .hero-image {
  width: 90%;
  height: 50%;
  border-radius: 2em;
  margin-top: 1.5em;
  margin: 0 1em 0 1em;
  -webkit-box-shadow: 4px 4px 14px #000;
          box-shadow: 4px 4px 14px #000;
  border: 5px solid white;
}

.hero .container .right-column {
  margin: 1em;
}

.hero .container .right-column .hero-text {
  text-align: center;
  margin: .5em 1.5em;
  text-transform: uppercase;
  color: white;
  font-family: 'Varela Round';
}

.hero .container .right-column .hero-cta {
  margin-bottom: 1em;
  margin-top: 1em;
}

.hero .container .right-column .hero-cta .cta-link {
  text-align: center;
  color: whitesmoke;
  text-decoration: none;
  display: -ms-grid;
  display: grid;
  font-size: 1em;
  margin-top: .5em;
  cursor: pointer;
}

.hero .container .right-column .hero-cta .cta-link:hover {
  color: black;
}

.hero .container .right-column .hero-cta .cta-link-test {
  text-align: center;
  color: whitesmoke;
  text-decoration: none;
  display: -ms-grid;
  display: grid;
  font-size: 1em;
  margin-top: .5em;
  cursor: pointer;
}

.hero .container .right-column .hero-cta .cta-link-test:hover {
  color: black;
}

.hero .container .right-column .hero-cta .cta-text {
  text-align: justify;
  color: whitesmoke;
  text-decoration: none;
  display: -ms-grid;
  display: grid;
  font-size: 1em;
  margin: .5em .5em;
}

@-webkit-keyframes scale-up-ver-center {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-box-shadow: 0px 0px 0px #000;
            box-shadow: 0px 0px 0px #000;
    border-radius: 0px;
    opacity: 0;
  }
  60% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
    opacity: .5;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-box-shadow: 4px 4px 14px #000;
            box-shadow: 4px 4px 14px #000;
    border-radius: 2em;
    opacity: 1;
  }
}

@keyframes scale-up-ver-center {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-box-shadow: 0px 0px 0px #000;
            box-shadow: 0px 0px 0px #000;
    border-radius: 0px;
    opacity: 0;
  }
  60% {
    -webkit-transform: scaleY(1.1);
            transform: scaleY(1.1);
    opacity: .5;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-box-shadow: 4px 4px 14px #000;
            box-shadow: 4px 4px 14px #000;
    border-radius: 2em;
    opacity: 1;
  }
}

@-webkit-keyframes scale-down-ver-center {
  0% {
    line-height: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    opacity: .8;
    color: white;
  }
  80% {
    opacity: 0;
  }
  100% {
    height: 0px;
    line-height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    color: transparent;
    opacity: 0;
  }
}

@keyframes scale-down-ver-center {
  0% {
    line-height: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    opacity: .8;
    color: white;
  }
  80% {
    opacity: 0;
  }
  100% {
    height: 0px;
    line-height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    color: transparent;
    opacity: 0;
  }
}

.video-container {
  display: none;
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  -webkit-box-shadow: 4px 4px 14px #000;
          box-shadow: 4px 4px 14px #000;
  background-color: var(--primary-colour);
}

.video-show {
  display: block;
  border-radius: 2em;
  -webkit-animation-name: scale-up-ver-center;
          animation-name: scale-up-ver-center;
  -webkit-animation-duration: .6s;
          animation-duration: .6s;
  -webkit-animation-play-state: default;
          animation-play-state: default;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.read-more-container {
  display: none;
  margin-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  -webkit-box-shadow: 4px 4px 14px #000;
          box-shadow: 4px 4px 14px #000;
  border-radius: 2em;
  -webkit-animation-name: scale-up-ver-center;
          animation-name: scale-up-ver-center;
  -webkit-animation-duration: .6s;
          animation-duration: .6s;
  -webkit-animation-play-state: default;
          animation-play-state: default;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
  background-color: var(--primary-colour);
}

.read-show {
  display: block;
}

@-webkit-keyframes profile-reveal-from-above {
  0% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    opacity: 0;
  }
  60% {
    opacity: .5;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes profile-reveal-from-above {
  0% {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px);
    opacity: 0;
  }
  60% {
    opacity: .5;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes profile-reveal-from-below {
  0% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0;
  }
  60% {
    opacity: .5;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes profile-reveal-from-below {
  0% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    opacity: 0;
  }
  60% {
    opacity: .5;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@-webkit-keyframes profile-reveal-load-gradient {
  0% {
    background-color: black;
    opacity: 0;
  }
  60% {
    opacity: .5;
  }
  100% {
    background-color: white;
    opacity: 1;
  }
}

@keyframes profile-reveal-load-gradient {
  0% {
    background-color: black;
    opacity: 0;
  }
  60% {
    opacity: .5;
  }
  100% {
    background-color: white;
    opacity: 1;
  }
}

.profile-image-container {
  background-color: var(--primary-colour);
  background: repeating-linear-gradient(45deg, var(--primary-colour), var(--primary-colour), #1481da 10px, #1e8ccc 10px);
  margin: 1em 0em;
  padding: 3em;
  height: 600px;
  -webkit-animation-name: profile-reveal-load-gradient;
          animation-name: profile-reveal-load-gradient;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.profile-image-container .profile-image {
  border-radius: 20em;
  min-height: 200px;
  min-width: 200px;
  height: auto;
  width: auto;
  max-height: 30%;
  max-width: 22.5%;
  display: block;
  padding: 4em auto;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid white;
  -webkit-animation-name: profile-reveal-from-above;
          animation-name: profile-reveal-from-above;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.profile-image-container .container {
  padding-top: 1em;
  padding-bottom: 1em;
  -webkit-animation-name: profile-reveal-from-below;
          animation-name: profile-reveal-from-below;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-direction: forwards;
          animation-direction: forwards;
}

.profile-image-container .container .profile-words {
  color: whitesmoke;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 4;
  font-style: italic;
  font-family: 'Varela Round';
}

hr {
  border: 1px solid rgba(185, 185, 185, 0.541);
  border-radius: 5px;
  margin-bottom: 5px;
}

.about-me .container {
  margin-bottom: 0em;
  margin-top: 2em;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
  overflow: hidden;
  position: relative;
}

.about-me .container .background-image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: auto;
  height: auto;
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
  -webkit-mask-image: linear-gradient(to top, black, rgba(0, 0, 0, 0));
          mask-image: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
          mask-image: linear-gradient(to top, black, rgba(0, 0, 0, 0));
}

.about-me .container .right-column {
  position: relative;
}

.about-me .container .right-column .about-me-text {
  text-align: center;
}

.about-me .container .right-column .about-me-text-white {
  text-align: center;
  color: white;
}

.about-me .container .right-column .about-me-paragraph {
  text-align: justify;
  text-justify: inter-word;
  padding: 1em 2em;
  line-height: 1.6em;
  font-size: 1em;
  font-weight: 400;
  background-color: rgba(111, 178, 240, 0.76);
  border-radius: 1em;
  color: honeydew;
}

.about-me .container .right-column .about-me-cta {
  text-align: center;
  display: -ms-grid;
  display: grid;
  text-shadow: var(--primary-colour) 0px 0px 4px;
  margin: 2em 0;
}

.about-me .container .right-column .about-me-cta a {
  color: white;
  text-shadow: var(--primary-colour) 0px 0px 4px;
  text-decoration: none;
  padding-bottom: 2em;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
  list-style-type: none;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

.mobile-menu-exit:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.reveal {
  position: relative;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.reveal.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    place-content: space-between;
  }
  .hero-text {
    margin-top: 2em;
    font-size: 2.5em;
  }
  .navbar nav {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
    float: right;
  }
  .navbar nav .right-menu {
    float: right;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 1em .5em;
    margin: 0 .5em;
    font-weight: bold;
  }
  .navbar nav a:hover {
    color: var(--primary-colour);
  }
  .navbar nav ul.primary-nav {
    margin: 0;
    float: right;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav nav {
    float: right;
  }
  .video-player {
    width: 540px;
    height: 285px;
  }
  .about-me .container {
    margin: 2em 0em 0em 0em;
    padding: 0 0em;
  }
  .about-me .container .profile-image {
    border-radius: 20em;
    height: 20%;
    width: 20%;
  }
  .about-me .container .right-column {
    margin: 2em 2em;
    padding: 0 8em;
  }
  .about-me .container .right-column .about-me-text {
    padding: 0 2em;
  }
  .about-me .container .right-column .about-me-paragraph {
    padding: 1em 1em;
    font-size: 1em;
  }
  .about-me .container .right-column .about-me-cta a {
    font-size: 1.2em;
  }
  .profile-image-container {
    background-color: var(--primary-colour);
    background: repeating-linear-gradient(45deg, var(--primary-colour), var(--primary-colour), #1481da 10px, #1e8ccc 10px);
    margin: 1em 0em;
    padding: 3em;
    height: 700px;
    -webkit-animation-name: profile-reveal-load-gradient;
            animation-name: profile-reveal-load-gradient;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-direction: forwards;
            animation-direction: forwards;
  }
  .profile-image-container .profile-image {
    margin-top: 2em;
  }
  .profile-image-container .container {
    margin-top: 0;
  }
  .profile-image-container .container .profile-words {
    color: whitesmoke;
    text-align: center;
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 5px;
    line-height: 2;
    font-family: 'Varela Round';
  }
}

@media only screen and (min-width: 1080px) {
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero .container .hero-image {
    width: 40%;
    height: 40%;
    border-radius: 4em;
    margin: 4em;
    padding: 0em;
  }
  .hero .container .right-column {
    margin: 1em;
    margin-right: 1em;
    display: -ms-grid;
    display: grid;
  }
  .hero .container .right-column .hero-text {
    margin-top: 2em;
    font-size: 2.5em;
  }
  .hero .container .right-column .hero-cta {
    margin-bottom: 1em;
    margin-top: 1em;
  }
  .hero .container .right-column .hero-cta .cta-link {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    display: -ms-grid;
    display: grid;
    font-size: 1.5em;
    margin-top: 1em;
    cursor: pointer;
  }
  .hero .container .right-column .hero-cta .cta-link:hover {
    color: black;
  }
  .hero .container .right-column .hero-cta .cta-link-test {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    display: -ms-grid;
    display: grid;
    font-size: 1.5em;
    margin-top: 1em;
    cursor: pointer;
  }
  .hero .container .right-column .hero-cta .cta-link-test:hover {
    color: black;
  }
  .hero .container .right-column .hero-cta .cta-text {
    text-align: justify;
    color: whitesmoke;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: unset;
    font-size: 1.2em;
    margin: .5em .8em;
  }
  .about-me .container {
    margin: 2em 0em 0em 0em;
    padding: 0 0em;
  }
  .about-me .container .profile-image {
    border-radius: 20em;
    height: 20%;
    width: 20%;
  }
  .about-me .container .right-column {
    margin: 2em 2em;
    padding: 0 20em;
  }
  .about-me .container .right-column .about-me-text {
    padding: 0 2em;
  }
  .about-me .container .right-column .about-me-paragraph {
    padding: 2em 2em;
    font-size: 1em;
  }
  .about-me .container .right-column .about-me-cta a {
    font-size: 1.2em;
  }
  .video-player {
    width: 540px;
    height: 285px;
  }
}
/*# sourceMappingURL=main.css.map */