@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
:root {
  --primary-colour: rgb(111, 178, 240);
}

body {
  background: whitesmoke;
  margin: 0;
  margin-top: 1em;
  font-family: 'Ubuntu';
  padding-top: 2em;
}

.hero:before {
  content: " ";
  display: block;
  visibility: hidden;
  margin-top: -3em;
  height: 3em;
}

.navbar {
  position: fixed;
  z-index: 998;
  background-color: white;
  width: 100%;
  left: 0;
  top: 0;
}

.navbar nav {
  text-decoration: none;
  display: none;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  padding: 1em 0 1em 1em;
}

.navbar .logo span {
  color: var(--primary-colour);
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .container .mobile-menu {
  padding-right: 1em;
  cursor: pointer;
}

.hero .container {
  background-color: var(--primary-colour);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 2em;
  padding-top: 3em;
  padding-bottom: .25em;
}

.hero .container .hero-image {
  width: 90%;
  height: 50%;
  border-radius: 2em;
  margin-top: 1.5em;
  margin: 0 1em 0 1em;
  -webkit-box-shadow: 4px 4px 14px #000;
          box-shadow: 4px 4px 14px #000;
}

.hero .container .right-column {
  margin: 1em;
}

.hero .container .right-column .hero-text {
  text-align: center;
  margin: .5em 1.5em;
  text-transform: uppercase;
  color: #2b2b2b;
}

.hero .container .right-column .hero-cta {
  margin-bottom: 1em;
  margin-top: 1em;
}

.hero .container .right-column .hero-cta .cta-link {
  text-align: center;
  color: whitesmoke;
  text-decoration: none;
  display: -ms-grid;
  display: grid;
  font-size: 1em;
  margin-top: .5em;
  cursor: pointer;
}

.hero .container .right-column .hero-cta .cta-link:hover {
  color: black;
}

.hero .container .right-column .hero-cta .cta-text {
  text-align: center;
  color: whitesmoke;
  text-decoration: none;
  display: -ms-grid;
  display: grid;
  font-size: 1em;
  margin-top: .5em;
}

.video-container {
  display: none;
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  -webkit-box-shadow: 4px 4px 14px #000;
          box-shadow: 4px 4px 14px #000;
}

.video-show {
  display: block;
}

.read-more-container {
  display: none;
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  -webkit-box-shadow: 4px 4px 14px #000;
          box-shadow: 4px 4px 14px #000;
}

.read-show {
  display: block;
}

.about-me .container {
  margin-bottom: 2em;
  margin-top: 2em;
}

.about-me .container .profile-image {
  border-radius: 20em;
  height: 30%;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid var(--primary-colour);
}

.about-me .container .right-column .about-me-text {
  text-align: center;
}

.about-me .container .right-column .about-me-paragraph {
  text-align: justify;
  text-justify: inter-word;
  padding: 0 2em;
}

.about-me .container .right-column .about-me-cta {
  text-align: center;
  display: -ms-grid;
  display: grid;
}

.about-me .container .right-column .about-me-cta a {
  color: var(--primary-colour);
  text-decoration: none;
  padding-bottom: 1em;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
  list-style-type: none;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin: .5em;
  cursor: pointer;
}

.mobile-menu-exit:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    place-content: space-between;
  }
  .hero-text {
    margin-top: 2em;
    font-size: 2.5em;
  }
  .navbar nav {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
    float: right;
  }
  .navbar nav .right-menu {
    float: right;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 1em .5em;
    margin: 0 .5em;
    font-weight: bold;
  }
  .navbar nav a:hover {
    color: var(--primary-colour);
  }
  .navbar nav ul.primary-nav {
    margin: 0;
    float: right;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav nav {
    float: right;
  }
  .video-player {
    width: 540px;
    height: 285px;
  }
}

@media only screen and (min-width: 1080px) {
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero .container .hero-image {
    width: 40%;
    height: 40%;
    border-radius: 4em;
    margin: 4em;
    padding: 1em;
  }
  .hero .container .right-column {
    margin: 1em;
    margin-right: 1em;
    display: -ms-grid;
    display: grid;
  }
  .hero .container .right-column .hero-text {
    margin-top: 2em;
    font-size: 2.5em;
  }
  .hero .container .right-column .hero-cta {
    margin-bottom: 1em;
    margin-top: 3em;
  }
  .hero .container .right-column .hero-cta .cta-link {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    display: -ms-grid;
    display: grid;
    font-size: 1.5em;
    margin-top: 1em;
    cursor: pointer;
  }
  .hero .container .right-column .hero-cta .cta-link:hover {
    color: black;
  }
  .hero .container .right-column .hero-cta .cta-text {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: unset;
    font-size: 1.2em;
    margin: .5em .5em;
  }
  .about-me .container {
    margin: 2em 4em;
    padding: 0 2em;
  }
  .about-me .container .profile-image {
    border-radius: 20em;
    height: 20%;
    width: 20%;
  }
  .about-me .container .right-column {
    margin: 2em 2em;
    padding: 0 2em;
  }
  .about-me .container .right-column .about-me-text {
    margin: 2em 4em;
    padding: 0 2em;
  }
  .about-me .container .right-column .about-me-paragraph {
    padding: 1em 2em;
  }
  .about-me .container .right-column .about-me-cta a {
    font-size: 1.2em;
  }
  .video-player {
    width: 540px;
    height: 285px;
  }
}
/*# sourceMappingURL=main.css.map */